body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1050px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.form {
  max-width: 2000px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}
fullName,
#email,
#phone,
#designation,
#portfolio {
  margin-right: 20px;
}
.form-column {
  width: 50%; 
  margin-bottom: 20px;
  width: calc(50% - 10px);
/* Adjust as needed */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="checkbox"] {
  width: auto;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Add additional styling for specific elements if needed */
